@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url(./navbar/navbar.css);

body {
    color: #fff;
    background: url(../img/ironmed.gif);
    background-color: black;
    font-family: 'Inter', sans-serif;
    background-repeat: no-repeat;
    background-position: center top;
    width: 100%;
    height: 100%;
}

img {user-select: none;}